---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import MapSection from "../components/MapSection.astro";
import Footer from "../components/Footer.astro";
import HealthServicesSection from "../components/HealthServicesSection.astro";
import NutritionSection from "../components/NutritionSection.astro";
import TransportSection from "../components/TransportSection.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<body class="font-body bg-gray-50">
		<Header />
		<HeroSection />
		<AboutSection />
		<MapSection />
		<TransportSection />
		<HealthServicesSection />
		<NutritionSection />
		<Footer />
	</body>
</Layout>
